* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
body{
    overflow: hidden;
}
.page{
    display: flex;
    flex-wrap: wrap;
}
.page > section {
    width:50vw;
    height:50vh;
    border:1px solid gray;
}
.hidden{
    display:none;
}